.site-list .site-title {
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumbnail-image-container {
	position: relative;
	display: block;
	min-height: 100px;
}

/* Boostrap Fixes */
.row-fluid.collection [class*="span"]:first-of-type {
	margin-left: 0;
}

.row-fluid.collection .span4:nth-of-type(4) {
	margin-left: 0;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid gray;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    -webkit-animation: spin 1s infinite linear;
}