.site-title {
	font-size: 18px;
    font-weight: 300;
	line-height: 18px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumbnail {
    margin-bottom: 20px;
}

.thumbnail-image-container {
	position: relative;
}

.thumbnail-image {
    background-size: cover;
    height: 200px;
}

/* Boostrap Fixes */
.site-list [class*="col-span"]:first-of-type {
	padding-left: 0;
}

.site-list .col-span-4:nth-of-type(3n+1) {
	padding-left: 0;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid gray;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    -webkit-animation: spin 1s infinite linear;
}

.title-app {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
}

.navbar {
    margin-bottom: 20px;
}

.form-toggle {
    margin-top: 10px;
}

.brand-callout {
    padding: 0 2px;
    background-color: #95cd06;
    border-radius: 1px;
    color: white;
}

body {
    font-family: "Open Sans";
}